Repository free-domains/register, pull requests merged in 2023-02, with the labels that each got.

#2 feat(mx): make MX records an object
  dnsconfig.js
  domains/reserved/is-a-backend.dev.json
  domains/reserved/is-a-frontend.dev.json
  schemas/reserved-domain.json
Labels: enhancement

#3 feat(txt): make TXT records objects
  dnsconfig.js
  domains/reserved/_github-challenge-free-domains-org.is-a-backend.dev.json
  domains/reserved/_github-challenge-free-domains-org.is-a-frontend.dev.json
  domains/reserved/_github-pages-challenge-free-domains.is-a-backend.dev.json
  domains/reserved/_github-pages-challenge-free-domains.is-a-frontend.dev.json
  domains/reserved/is-a-backend.dev.json
  domains/reserved/is-a-frontend.dev.json
  schemas/domain.json
  schemas/reserved-domain.json
Labels: enhancement

#40 Update README.md
  README.md
Labels: readme

#42 Update README.md
  README.md
Labels: readme

#49 Update dan.is-a-backend.dev.json
  domains/dan.is-a-backend.dev.json
Labels: domain

#51 Register alraakib.is-a-frontend.dev
  domains/alraakib.is-a-frontend.dev.json
Labels: domain

#54 Register scronite.is-a-backend.dev
  domains/scronite.is-a-backend.dev.json
Labels: domain
