Repository free-domains/register, pull requests merged in 2023-09, with the labels that each got.

#234 chore: smaller headings
  README.md
Labels: readme

#232 Register vk45032.is-a-frontend.dev
  domains/redirectroot.is-a-frontend.dev.json
  domains/vk45032.is-a-frontend.dev.json
Labels: domain

#236 fix: update rubiin domain
  domains/rubiin.is-a-backend.dev.json
  domains/rubiin.is-a-frontend.dev.json
  domains/rubiin.is-a-fullstack.dev.json
Labels: domain

#239 Register daim.is-a-fullstack.dev
  domains/daim.is-a-fullstack.dev.json
Labels: domain

#240 Updated proxied to true.json
  domains/daim.is-a-fullstack.dev.json
Labels: domain

#241 Register marc.is-a-fullstack.dev
  domains/marc.is-a-fullstack.dev.json
Labels: domain

#245 Remove marc.is-a-fullstack.dev
  domains/marc.is-a-fullstack.dev.json
Labels: domain

#244 Register awex.is-a-fullstack.dev
  domains/awex.is-a-fullstack.dev.json
Labels: domain

#249 Register alpha.is-a-backend.dev
  domains/alpha.is-a-backend.dev.json
Labels: domain

#246 Register kaos.is-a-frontend.dev
  domains/awex.is-a-backend.dev.json
  domains/kaos.is-a-frontend.dev.json
Labels: invalid records, awaiting response, domain

#252 Register svirl.is-a-frontend.dev
  domains/svirl.is-a-frontend.dev.json
Labels: domain

#255 Create chiragnahata.is-a-fullstack.dev
  domains/chiragnahata.is-a-fullstack.dev.json
Labels: domain

#256 Update chiragnahata.is-a-fullstack.dev.json
  domains/chiragnahata.is-a-fullstack.dev.json
Labels: domain

#258 Register wwa.is-a-fullstack.dev
  domains/wwa.is-a-fullstack.dev.json
Labels: domain

#254 Register sivan.is-a-backend.dev
  domains/sivan.is-a-backend.dev.json
Labels: domain

#259 Register sinzie.is-a-fullstack.dev
  domains/sinzie.is-a-fullstack.dev.json
Labels: domain

#260 Register lynic.is-a-frontend.dev
  domains/lynic.is-a-frontend.dev.json
Labels: domain

#262 Register guvenlivehizli.is-a-backend.dev
  domains/guvenlivehizli.is-a-backend.dev.json
Labels: domain

#261 domain
  domains/saahil.is-a-backend.dev.json
  domains/saahil.is-a-frontend.dev.json
  domains/saahil.is-a-fullstack.dev.json
Labels: domain

#264 Register kizilando.is-a-frontend.dev
  domains/kizilando.is-a-backend.dev.json
  domains/kizilando.is-a-frontend.dev.json
  domains/kizilando.is-a-fullstack.dev.json
Labels: domain

#265 Register sag.is-a-fullstack.dev
  domains/sag.is-a-fullstack.dev.json
Labels: domain

#266 add subdomain nqdev for domain is-a-fullstack
  domains/nqdev.is-a-fullstack.dev.json
Labels: domain
