Repository free-domains/register, pull requests merged in 2023-03, with the labels that each got.

#55 Registering robsd.is-a-frontend.dev & robsd.is-a-backend.dev
  domains/robsd.is-a-backend.dev.json
  domains/robsd.is-a-frontend.dev.json
Labels: domain

#58 Create priyansh.is-a-frontend.dev.json
  domains/priyansh.is-a-frontend.dev.json
Labels: domain

#59 Register mahidoodi.is-a-backend.dev
  domains/mahidoodi.is-a-backend.dev.json
Labels: domain

#60 Create kro.is-a-backend.dev
  domains/kro.is-a-backend.dev.json
Labels: domain

#61 Rename dns/config.js to scripts/dns.js
  .github/workflows/deploy.yml
  .github/workflows/validation.yml
  scripts/dns.js
Labels: dns, workflows

#64 Delete invalid domains
  domains/alraakib.is-a-frontend.dev.json
  domains/avalynn.is-a-frontend.dev.json
  domains/kro.is-a-backend.dev.json
Labels: unsupported services, domain

#71 Create priyansh.is-a-backend.dev.json
  domains/priyansh.is-a-backend.dev.json
Labels: domain

#72 Register simpuskapa.is-a-backend.dev
  domains/simpuskapa.is-a-backend.dev.json
  domains/simpuskapa.is-a-frontend.dev.json
Labels: domain

#73 Register zagorod.is-a-fullstack.dev
  domains/zagorod.is-a-fullstack.dev.json
Labels: invalid records, domain

#74 Create revelav2.is-a-backend.dev.json
  domains/revelav2.is-a-backend.dev.json
Labels: domain
