Repository free-domains/register, pull requests merged in 2023-06, with the labels that each got.

#124 feat(workflows): prettier
  .github/workflows/pr.yml
  .github/workflows/publish.yml
  .github/workflows/validation.yml
Labels: workflows

#125 Register sergeyzarechnev.is-a-backend.dev
  domains/sergeyzarechnev.is-a-backend.dev.json
Labels: domain

#126 Register sirmonteiro.is-a-fullstack.dev
  domains/sirmonteiro.is-a-fullstack.dev.json
Labels: domain

#127 Create tweak.is-a-fullstack.dev.json
  domains/tweak.is-a-fullstack.dev.json
Labels: domain

#129 feat: create new site
  domains/dibster.is-a-backend.dev.json
Labels: invalid records, domain

#133 vulcanwm.is-a-fullstack.dev
  domains/vulcanwm.is-a-fullstack.dev.json
Labels: domain

#132 Register radiowebcamposborges.is-a-fullstack.dev
  domains/radiowebcamposborges.is-a-fullstack.dev.json
Labels: domain

#139 Create imgx.is-a-backend.dev.json
  domains/imgx.is-a-backend.dev.json
Labels: domain

#140 Register rachit.is-a-fullstack.dev
  domains/rachit.is-a-fullstack.dev.json
Labels: domain

#141 Changed to surge hosting
  domains/rachit.is-a-fullstack.dev.json
Labels: domain

#142 Update rachit.is-a-fullstack.dev.json, proxied = true
  domains/rachit.is-a-fullstack.dev.json
Labels: domain

#143 fitrahmunir.is-a-frontend.dev
  domains/fitrahmunir.is-a-frontend.dev.json
Labels: domain

#146 Create salman.is-a-fullstack.dev.json
  domains/salman.is-a-fullstack.dev.json
Labels: domain

#147 Register hydrax.is-a-frontend.dev
  domains/hydrax.is-a-frontend.dev.json
Labels: domain

#148 Register matiix310.is-a-fullstack.dev
  domains/matiix310.is-a-fullstack.dev.json
Labels: domain
