Repository free-domains/register, pull requests merged in 2023-08, with the labels that each got.

#184 Register iqphish.is-a-fullstack.dev
  domains/iqphish.is-a-fullstack.dev.json
Labels: domain

#185 Register greenerworld.is-a-fullstack.dev
  domains/greenerworld.is-a-fullstack.dev.json
Labels: domain

#182 Register saurabh.is-a-fullstack.dev
  domains/saurabh.is-a-fullstack.dev.json
Labels: invalid records, domain

#187 Register playjunction.is-a-backend.dev
  domains/playjunction.is-a-backend.dev.json
Labels: domain

#189 Hi
  domains/cx622.is-a-backend.dev.json
Labels: domain

#190 Remove dan.is-a-backend.dev
  domains/dan.is-a-frontend.dev.json
Labels: domain

#192 Create enqity.is-a-fullstack.dev.json
  domains/enqity.is-a-fullstack.dev.json
Labels: domain

#193 Register jsdhami.is-a-fullstack.dev
  domains/jsdhami.is-a-fullstack.dev.json
Labels: domain

#195 Delete jsdhami.is-a-fullstack.dev.json
  domains/jsdhami.is-a-fullstack.dev.json
Labels: domain

#196 Register albagra.is-a-frontend.dev
  domains/albagra.is-a-frontend.dev.json
Labels: domain

#199 Register jest.is-a-backend.dev
  domains/jest.is-a-backend.dev.json
Labels: domain

#203 added my domain for fullstack and backend
  domains/nirjal.is-a-backend.dev.json
  domains/nirjal.is-a-fullstack.dev.json
Labels: domain

#198 proxy set to true
  domains/albagra.is-a-frontend.dev.json
Labels: invalid records, domain

#204 Create pritam.is-a-fullstack.dev.json
  domains/pritam.is-a-fullstack.dev.json
Labels: domain

#206 feat: add `skifli.is-a-fullstack.dev.json`
  domains/skifli.is-a-fullstack.dev.json
Labels: domain

#209 Register ariana.is-a-backend.dev
  domains/ariana.is-a-backend.dev.json
Labels: domain

#211 feat: delete domain as infrastructure changed
  domains/dibster.is-a-backend.dev.json
Labels: domain

#214 Update pritam.is-a-fullstack.dev.json
  domains/pritam.is-a-fullstack.dev.json
Labels: domain

#215 Update qwerty.is-a.fullstack.dev.json and qwerty.is-a.backend.dev.json
  domains/qwerty.is-a-backend.dev.json
  domains/qwerty.is-a-fullstack.dev.json
Labels: domain

#216 [miti99] (Add) register miti99 subdomain
  domains/miti99.is-a-backend.dev.json
Labels: domain

#217 feat: adding notice disclaimer
  README.md
Labels: enhancement, readme

#218 Update saurabh.is-a-fullstack.dev.json
  domains/saurabh.is-a-fullstack.dev.json
Labels: unsupported services, invalid records, domain

#219 Update saurabh.is-a-fullstack.dev.json
  domains/saurabh.is-a-fullstack.dev.json
Labels: domain

#220 Register tpx.is-a-fullstack.dev
  domains/tpx.is-a-fullstack.dev.json
Labels: domain

#221 Register doubles.is-a-fullstack.dev
  domains/doubles.is-a-fullstack.dev.json
Labels: domain

#223 Register saurabh.is-a-frontend.dev
  domains/saurabh.is-a-backend.dev.json
  domains/saurabh.is-a-frontend.dev.json
Labels: domain

#224 Update saurabh.is-a-fullstack.dev.json
  domains/saurabh.is-a-fullstack.dev.json
Labels: domain

#230 fix: add rubiin domain
  domains/rubiin.is-a-backend.dev.json
  domains/rubiin.is-a-frontend.dev.json
  domains/rubiin.is-a-fullstack.dev.json
Labels: domain

#229 Update saurabh.is-a-frontend.dev.json
  domains/saurabh.is-a-frontend.dev.json
Labels: domain
