Repository free-domains/register, pull requests merged in 2024-05, with the labels that each got.

#475 Register srm.is-a-fullstack.dev
  domains/srm.is-a-fullstack.dev.json
Labels: domain

#476 Register ero.is-a-fullstack.dev
  domains/cfw.is-a-fullstack.dev.json
  domains/dugong.is-a-fullstack.dev.json
  domains/ero.is-a-fullstack.dev.json
Labels: domain

#477 Create emoji.is-a-fullstack.dev
  domains/emoji.is-a-fullstack.dev.json
Labels: domain, invalid file

#479 Create sabbir.is-a-fullstack.dev.json
  domains/sabbir.is-a-fullstack.dev.json
Labels: invalid records, domain

#480 Domain Addition: zemerik.is-a-fullstack.dev
  domains/zemerik.is-a-fullstack.dev.json
Labels: domain
